.header-links {
    display: inline-block;
    float: left;
    padding-top: 4px;
    padding-bottom: 6px;
    width: 100px;
    text-align: center;
}

@media (max-width: 520px) {
    #my-face {
        display: none;
    }
}
